@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #292929;
  background-color: #dcdcdc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;

}

.title {
  font-family: 'Montserrat';
  font-weight: 800;
  line-height: 1em;
  font-size: min(12vw, 200px);
}

.dark {
  color: #dcdcdc;
  background-color: #292929;
}